<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Jojo's quote tweet</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/cat</string>
        <string>/Users/sho/Bot_dev/Twitter/JojoTweet/output.log</string>
    </array>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sho/opt/anaconda3/envs/jojo/bin/python</string>
        <string>/Users/sho/Bot_dev/Twitter/JojoTweet/main.py</string>
    </array>
		<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/sho/Bot_dev/Twitter/JojoTweet/output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sho/Bot_dev/Twitter/JojoTweet/error.log</string>
</dict>
</plist>
